{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'semantic/semantic.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>{% block title %} {% endblock %}</title>
    </head>
<body>
    <div class="ui inverted segment">
        <div class="ui fixed inverted menu">
            <a class="active item menu-a-color" href="{% url 'login_user' %}">
                <span>
                    <i class="ui home icon"></i>Principal
                </span>
            </a>
            <div class="ui simple dropdown item">
                Cadastros
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Endereços
                        <div class="ui menu">
                            <a class="item" href="{% url 'index_estado' %}">Estado</a>
                            <a class="item" href="{% url 'index_cidade' %}">Cidade</a>
                            <a class="item" href="{% url 'index_bairro' %}">Bairro</a>
                            <a class="item" href="{% url 'index_rua' %}">Rua</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Pessoas
                        <div class="ui inverted menu">
                            <a class="green item" href="{% url 'index_proprietario' %}">Proprietário</a>
                            <a class="item" href="{% url 'index_vet_resp' %}">Veterinário Responsável</a>
                            <a class="item" href="{% url 'index_grupo' %}">Grupo</a>
                            <a class="item" href="{% url 'perfil_user' user.id %}">Usuário</a>
                            <a class="item" href="#">Mudar senha</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Animais
                        <div class="ui inverted menu">
                            <a class="green item" href="{% url 'index_especie' %}">Espécie</a>
                            <a class="green item" href="{% url 'index_raca' %}">Raça</a>
                            <a class="item" href="{% url 'index_animal' %}">Animal</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Laudos
                        <div class="ui inverted menu">
                            <a class="item" href="{% url 'index_tipo_laudo' %}">Tipo</a>
                            <a class="item" href="{% url 'index_requisicao' %}">Requisição</a>
                            <a class="item" href="{% url 'index_laudo' %}">Laudo</a>
                            <a class="green item" href="{% url 'index_imagem' %}">Imagem</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui simple dropdown item">
                Consultas
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{% url 'procura_laudos' %}">Procurar</a>
                    <a class="item" href="{% url 'consulta_requisicao' %}">Requisição</a>
                    <a class="item" href="{% url 'consulta_laudo' %}">Laudos</a>
                </div>
            </div>
            <div class="right menu">
                <a class="active item menu-a-color" href="{% url 'logout' %}">
                    <span>
                        <i class="sign out alternate ui icon"></i>Logout
                    </span>
                </a>
            </div>
        </div>
    </div>

    <article class="ui stackable grid">

        {% block content %}

        {% endblock %}
    </article>

    <div class="ui vertical footer segment">
        <div class="ui centered middle aligned grid">
            <div class="four wide column">
                <a href='http://ifc.edu.br'>
                    <img class="ui image centered tiny" src="{% static "image/ifc.png" %}" alt="Logo Instituto Federal Catarinense">
                </a>
            </div>
            <div class="eight wide column">
                <p class="ui center aligned basic segment">
                    <span>Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Campus Araquari</span><br>
                    <span>Rodovia BR 280 - km 27 - Cx. Postal 21 - CEP 89245-000 - Fone (47) 3803-7200 - Fax (47) 3803-7201</span>
                </p>
            </div>
            <div class="four wide column">
                <a href='http://fabricadesoftware.ifc.edu.br'>
                    <img class="ui image centered tiny" src="{% static "image/fabrica.jpg" %}" alt="Logo Fábrica de Software">
                </a>
            </div>
        </div>
    </div>
</body>
</html>