{% extends "base.html" %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastrar usuário</h2>

        <form class="ui form segment" method="post" action="{% url 'cadastro_usuario' %}">
            {% csrf_token %}
            <h4 class="ui dividing header">Informações pessoais</h4>
            <div class="field">
                <div class="two fields">
                    <div class="three wide field">
                        <label>Nome</label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="ui red pointing label">
                                {{ form.first_name.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label>Sobrenome</label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <div class="ui red pointing label">
                                {{ form.last_name.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <h4 class="ui dividing header">Credenciais para login</h4>
            <div class="fields">
                <div class="four wide field">
                    <label>Nome de usuário</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="ui red pointing label">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="seven wide field">
                    <label>Senha</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="ui red pointing label">
                            {{ form.password.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="ui grid">
                <div class="sixteen wide column">
                    <button type="submit" class="ui fluid green button">Cadastrar</button>
                </div>
            </div>
        </form>
        </div>
    </div>

{% endblock %}