{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'semantic/semantic.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>LAPVET-Laboratório de Anatomia e Patologia Veterinária-IFC Araquari</title>

    </head>
    <body style="background-color: #DADADA;">
    <article class="ui stackable grid">

        <div class="row" style="top: 50px">
            <div class="five wide column"></div>
            <div class="ui six wide column segment">
                <div class="row">
                    <image class="ui centered image" src="{% static "image/tiny_logo.lapvet.final_branco.png" %}">

                    </image>
                </div>
                <div class="row">
                        <form class='ui form' method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="field">
                                <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Digite o seu usuário" required/>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Digite sua senha" required/>
                                </div>
                            </div>
                            <button type='submit' class="ui submit green button fluid color-button" value='Entrar'>Entrar</button>
                        </form>
                    {% if model.count <= 1 %}
                    <a href="{% url 'cadastro_primeiro_acesso' %}" class="ui fluid button">
                        Cadastro de usuário para primeiro acesso</a>
                    {% endif %}
                </div>
                <div class="ui basic segment">


                </div>
            </div>
            <div class="five wide column"></div>
        </div>
            </article>
    </body>
</html>