<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4067638f7cca45e99b572491e7c52748 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4067638f7cca45e99b572491e7c52748" ></div>
        
</body>
<script>    
    
            var map_4067638f7cca45e99b572491e7c52748 = L.map(
                "map_4067638f7cca45e99b572491e7c52748",
                {
                    center: [-16.1237611, -59.9219642],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_13216f3de49942ca9304999818b01284 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4067638f7cca45e99b572491e7c52748);
        
    
            var marker_40d5743da39249fe819c00cf8c17e8c1 = L.marker(
                [-26.3754, -48.7188],
                {}
            ).addTo(map_4067638f7cca45e99b572491e7c52748);
        
    
        var popup_1adc73c90aec48e3b5bbd365a35d863a = L.popup({"maxWidth": "100%"});

        
            var html_305460433b6f46cba42bd39fd47a33a1 = $(`<div id="html_305460433b6f46cba42bd39fd47a33a1" style="width: 100.0%; height: 100.0%;">Araquari</div>`)[0];
            popup_1adc73c90aec48e3b5bbd365a35d863a.setContent(html_305460433b6f46cba42bd39fd47a33a1);
        

        marker_40d5743da39249fe819c00cf8c17e8c1.bindPopup(popup_1adc73c90aec48e3b5bbd365a35d863a)
        ;

        
    
    
            var marker_96ccd92dd99e47bab9bc7688d2f5cee1 = L.marker(
                [-26.3045, -48.8487],
                {}
            ).addTo(map_4067638f7cca45e99b572491e7c52748);
        
    
        var popup_63af7cf319c54162b89ca61db1bf957a = L.popup({"maxWidth": "100%"});

        
            var html_ea142ad6671746f7a9a8072f2403ad01 = $(`<div id="html_ea142ad6671746f7a9a8072f2403ad01" style="width: 100.0%; height: 100.0%;">Joinville</div>`)[0];
            popup_63af7cf319c54162b89ca61db1bf957a.setContent(html_ea142ad6671746f7a9a8072f2403ad01);
        

        marker_96ccd92dd99e47bab9bc7688d2f5cee1.bindPopup(popup_63af7cf319c54162b89ca61db1bf957a)
        ;

        
    
</script>