{% extends 'base.html' %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>

        <a class="ui button" href="{% url 'principal' %}">
            <i class="angle double left icon"></i>
            Voltar para a página anterior
        </a>
        <h2 class="ui center aligned header">Opções de busca por laudos</h2>
        <div class="ui form">

            <div class="ui stackable celled grid container" style="border: dashed 1px grey;">



            <form class="ui three column grid">

                <div class="left floated five wide column">
                <div class="ui segment">

                        <h4>
                            Selecione um ou mais sistemas
                        </h4>
                        <div class="ui list">
                    {% for sistema in lista_sistemas %}
                        <div class="item">
                        <div class="left floated content">
                        <div class="ui checkbox">
                            <input type="checkbox" name="por_sistema" value="{{ sistema }}">
                            <label>{{ sistema }}</label>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
                </div>


                <div class="column">
                <div class="ui segment">


                        <h4>
                            Selecione uma espécie
                        </h4>
                        <select name="por_especie">
                            <option></option>
                            {% for especie in especies %}
                                <option value="{{ especie.nome_especie }}">
                                    {{ especie.nome_especie }}
                                </option>
                            {% endfor %}
                        </select>

                        <h4>
                            Selecione uma raça
                        </h4>
                        <select name="por_raca">
                            <option></option>
                            {% for raca in lista_raca %}
                                <option value="{{ raca.nome_raca }}">
                                    {{ raca.nome_raca }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

            <div class="ui segment">
            <h4>
                Selecione um período inicial
            </h4>
                <input type="date" name="data_min">
                <h4>
                Selecione um período final
            </h4>
                <input type="date" name="data_max" placeholder="{{ hoje }}">
            </div>
                </div>
                <div class="column">
                <div class="ui segment">

                    <h4>
                        Selecione um estado
                    </h4>
                        <select name="por_estado">
                                <option></option>
                                {% for estado in estados %}
                                    <option value="{{ estado }}">
                                        {{ estado }}
                                    </option>
                                {% endfor %}
                            </select>
                    <h4>
                          Selecione uma cidade
                      </h4>
                      <select name="por_cidade">
                          <option></option>
                          {% for cidade in lista_cidade %}
                              <option value="{{ cidade.nome_cidade }}">
                                  {{ cidade.nome_cidade }}
                              </option>
                          {% endfor %}
                      </select>
                    <h4>
                          Selecione um bairro
                    </h4>
                      <select name="por_bairro">
                          <option></option>
                          {% for bairro in por_bairro %}
                              <option value="{{ bairro.nome_bairro }}">
                                  {{ bairro.nome_bairro }}
                              </option>
                          {% endfor %}
                      </select>
                <h4>
                          Selecione uma rua
                    </h4>
                      <select name="por_rua">
                          <option></option>
                          {% for rua in por_rua %}
                              <option value="{{ rua.nome_rua }}">
                                  {{ rua.nome_rua }}
                              </option>
                          {% endfor %}
                      </select>
                </div>
                </div>
                <button type="submit" class="ui green fluid icon button">
                    <i class="search icon"></i>
                    Buscar
                </button>
                <div class="results"></div>
            </form>
            </div>
        </div>
    <h2 class="ui center aligned header">Resultados</h2>
    <div class="ui stackable celled grid container" style="border: dashed 1px grey;">
    <div class="ui divided list">
            {% for consulta in laudos %}
            <div class="item">
            <div class="content">
                    <a href="{% url 'visualizar_laudo' consulta.id %}"><h4 style="vertical-align: inherit;">
                        <i class="clipboard outline icon"></i>
                        <font style="vertical-align: inherit;">
                            {{ consulta.id_requisicao.cod_animail.nome }},
                             {{ consulta.id_requisicao.tipo_de_laudo.tipo_laudo }},
                            RGHV: {{ consulta.id_requisicao.rghv }},
                            Etiologia: {{ consulta.etiologia }},
                             Sistemas: {{ consulta.sistemas }},
                             {{ consulta.id_requisicao.cod_animail.raca.id_especie.nome_especie }},
                             {{ consulta.id_requisicao.cod_animail.raca.nome_raca }}
                        </font>
                    </h4>
                    </a>

                </div>
                </div>
             {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}