{% extends 'base.html' %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
    <div class="ui green fluid segment">
        <h3 class="ui center aligned header">Busca por laudos</h3>

        <div class="ui placeholder segment">
            <div class="ui three column stackable center aligned grid">
                <div class="middle aligned row">
                    <div class="column">
                        <form class="ui form">
                            <select name="por_sistema">
                                <option>
                                    --Selecione o sistema--
                                </option>
                                {% for sistema in lista_sistemas %}
                                    <option value="{{ sistema }}">
                                        {{ sistema }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="ui green fluid icon button">
                                <i class="search icon"></i>
                                Buscar</button>
                            <div class="results"></div>
                        </form>

                        <form class="ui form">
                            <select name="por_especie">
                                <option>
                                    --Selecione a espécie--
                                </option>
                                {% for especie in especies %}
                                    <option value="{{ especie.nome_especie }}">
                                        {{ especie.nome_especie }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="ui green fluid icon button">
                                <i class="search icon"></i>
                            Buscar</button>
                            <div class="results"></div>
                        </form>
                    <form class="ui form">
                            <select name="por_raca">
                                <option>
                                    --Selecione a raça--
                                </option>
                                {% for raca in lista_raca %}
                                    <option value="{{ raca.nome_raca }}">
                                        {{ raca.nome_raca }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="ui green fluid icon button">
                                <i class="search icon"></i>
                            Buscar</button>
                            <div class="results"></div>
                        </form>
                    </div>
                    <div class="column">
                        <form class="ui form">
                            <select name="por_estado">
                                <option>
                                    --Selecione o estado--
                                </option>
                                {% for estado in por_estado %}
                                    <option value="{{ estado }}">
                                        {{ estado }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="ui green fluid icon button">
                                <i class="search icon"></i>
                            Buscar</button>
                            <div class="results"></div>
                        </form>




                    </div>
                <div class="column">

                        coluna três


                </div>
                </div>
            </div>
        </div>
        <div class="field">
            <form>
                <button type="submit" class="ui fluid icon button">
                    <i class="search icon"></i>
                        Mostrar todos
                </button>
                <div class="results"></div>
            </form>
        </div>
    </div>
    <div class="ui fluid segment">
        <h3 class="ui center aligned header">Resultados</h3>
    <h4 class="ui center aligned top attached header">
        <div class="ui center aligned pagination">
            <span class="step-links">
                {% if laudos.has_previous %}
                    <a href="?page=1"><i class="angle double left icon"></i>primeira</a>
                    <a href="?page={{ laudos.previous_page_number }}">
                        <i class="angle left icon"></i>
                        anterior
                    </a>
                {% endif %}
                <span class="current">
                    Página {{ laudos.number }} de {{ laudos.paginator.num_pages }}
                </span>
                {% if laudos.has_next %}
                    <a href="?page={{ laudos.next_page_number }}">
                        próximo
                        <i class="angle right icon"></i>
                    </a>
                    <a href="?page={{ laudos.paginator.num_pages }}">
                        última
                        <i class="angle double right icon"></i>
                    </a>
                {% endif %}
            </span>
        </div>
    </h4>
        <div class="ui divided list">
            {% for consulta in laudos %}
            <div class="item">
            <div class="content">
                    <a href="{% url 'visualizar_laudo' consulta.id %}"><font style="vertical-align: inherit;">
                        <i class="clipboard outline icon"></i>
                        <font style="vertical-align: inherit;">
                            {{ consulta.id_requisicao.cod_animail.nome }},
                             {{ consulta.id_requisicao.tipo_de_laudo.tipo_laudo }},
                            RGHV: {{ consulta.id_requisicao.rghv }},
                            Etiologia: {{ consulta.etiologia }},
                             Sistemas: {{ consulta.sistemas }},
                             {{ consulta.id_requisicao.cod_animail.raca.id_especie.nome_especie }},
                             {{ consulta.id_requisicao.cod_animail.raca.nome_raca }}
                        </font>
                    </font>
                        </a>
                </div>
                </div>
             {% endfor %}
        </div>

            </div>
        </div>
    </div>
    </div>

{% endblock %}