{% extends 'base.html' %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
    <div class="ui green fluid segment">
        <h2 class="ui center aligned header">Consulta por requisições</h2>
          <div class="ui form">
                <div class="three fields">
                    <div class="field">
                        <form class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" name="por_animal" id="por_animal" type="text" placeholder="Nome do animal...">
                                <button type="submit" class="circular ui icon button">
                                    <i class="search icon"></i></button>
                            </div>
                            <div class="results"></div>
                        </form>
                    </div>
                    <div class="field">
                        <form class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" name="por_proprietario" id="por_proprietario" type="text" placeholder="Nome do proprietario...">
                                <button type="submit" class="circular ui icon button">
                                    <i class="search icon"></i></button>
                            </div>
                            <div class="results"></div>
                        </form>
                    </div>
                    <div class="field">
                        <form class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" name="por_tipo" id="por_tipo" type="text" placeholder="Tipo de laudo...">
                                <button type="submit" class="circular ui icon button">
                                    <i class="search icon"></i></button>
                            </div>
                            <div class="results"></div>
                        </form>
                    </div>
                </div>
            </div>
        <table class="ui large striped table">
                <thead><tr class="center aligned">
                    <th>Nome do proprietário</th>
                    <th>Nome do animal</th>
                    <th>Tipo de laudo</th>
                    <th>Data do recebimento</th>
                    <th>Visualizar requisição</th>

                </tr></thead>
                <tbody>
                {% for consulta in requisicoes %}
                <tr>
                    <td class="center aligned">{{ consulta.cod_animail.proprietario.nome_proprietario }}</td>
                    <td class="center aligned">{{ consulta.cod_animail.nome }}</td>
                    <td class="center aligned">{{ consulta.tipo_de_laudo }}</td>
                    <td class="center aligned">{{ consulta.dt_recebimento }}</td>
                    <td class="center aligned"><i class="file alternate icon"></i></td>

                </tr>
                </tbody>
                {% endfor %}
        </table>
    </div>
    </div>

{% endblock %}