{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
    <div class="ui green fluid segment">
        <div class="ui vertical header segment">
        <div class="ui centered middle aligned grid">
            <div class="three wide column">
                <img class="ui image centered tiny" src="{% static "image/ifc.png" %}" alt="Logo Instituto Federal Catarinense">
            </div>
            <div class="eight wide column">
                <p class="ui center aligned basic segment">
                    <span>
                        INSTITUTO FEDERAL CATARINENSE<br>
                        CAMPUS ARAQUARI<br>
                        LABORATÓRIO DE ANATOMIA E PATOLOGIA VETERINÁRIA
                    </span>
                </p>
            </div>
            <div class="three wide column">
               <div class="card">
                   <div class="content">
                       <div class="ui attached segment">
                           <div class="center aligned header">
                               RG HV n°:
                           </div>
                           <div class="center aligned content">
                               {{ requisicao.rghv }}
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
        <h3 class="ui center aligned header">
            REQUISIÇÃO DE {{ requisicao.tipo_de_laudo.tipo_laudo.upper }}
        </h3>
        <div class="ui top attached tabular menu">
            <a class="item active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                Requisição
            </a>
            <a class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                Figura
            </a>
        </div>
        <h4 class="ui center aligned top attached header"><u>IDENTIFICAÇÃO</u></h4>
        <div class="ui attached segment">
            <p>
               <div class="ui relaxed grid">
            <div class="eight wide column">
                <b>Nome do animal: </b>{{ requisicao.cod_animail.nome }}
            </div>
            <div class="four wide column">
                <b>Espécie: </b>{{ requisicao.cod_animail.especie.nome_especie }}
            </div>
            <div class="four wide column">
                <b>Raça: </b>{{ requisicao.cod_animail.raca }}
            </div>
            <div class="eight wide column">
                <b>Data de nascimento: </b>{{ requisicao.cod_animail.data_nasc }}
            </div>
            <div class="four wide column">
                <b>Pelagem: </b>{{ requisicao.cod_animail.cor_pelagem }}
            </div>
            <div class="four wide column">
                <b>Sexo: </b>{{ requisicao.cod_animail.sexo }}
            </div>
            <div class="eight wide column">
                <b>Proprietário: </b>{{ requisicao.cod_animail.proprietario.nome_proprietario }}
            </div>
            <div class="four wide column">
                <b>Telefone fixo: </b>{{ requisicao.cod_animail.proprietario.telefone }}
            </div>
            <div class="four wide column">
                <b>Celular: </b>{{ requisicao.cod_animail.proprietario.celular }}
            </div>
            <div class="twelve wide column">
                <b>Endereço: </b>Rua {{ requisicao.cod_animail.proprietario.rua }} Bairro
                {{ requisicao.cod_animail.proprietario.rua.id_bairro.nome_bairro }}, Cidade
                {{ requisicao.cod_animail.proprietario.rua.id_bairro.id_cidade.nome_cidade }}
            </div>
            <div class="four wide column">
                <b>Estado</b>
                {{ requisicao.cod_animail.proprietario.rua.id_bairro.id_cidade.id_estado.nome_estado }}
            </div>
            <div class="eight wide column">
                <b>Veterinário Responsável: </b>{{ requisicao.cod_animail.veterinario_responsavel.nome_veterinario }}
            </div>
            <div class="four wide column">
                <b>Telefone: </b>{{ requisicao.cod_animail.veterinario_responsavel.telefone }}
            </div>
            <div class="four wide column">
                <b>CRMV: </b>{{ requisicao.cod_animail.veterinario_responsavel.crmv }}
            </div>
        </div>
        </div>
        <h4 class="ui center aligned attached header"><u>MATERIAL ENVIADO PARA EXAME</u></h4>
        <div class="ui attached segment">
            <p align="justify">
                {{ requisicao.material_enviado }}<br>
                <br>
                <b>Data da coleta: </b>{{ requisicao.dt_coleta }}
            </p>
        </div>
        <h4 class="ui center aligned attached header"><u>HISTÓRICO CLÍNICO</u></h4>
        <div class="ui attached segment">
            <p align="justify">
                {{ requisicao.historico_clinico }}
            </p>
        </div>
        <h4 class="ui center aligned attached header"><u>DESCRIÇÃO MACROSCÓPICA</u></h4>
        <div class="ui attached segment">
            <p align="justify">
                {{ requisicao.descricao_macroscopica }}
            </p>
        </div>
        <div class="ui message">
        <h4 class="ui center aligned header"><u>PARA USO DO LAPVET</u></h4>
            <p>
                Número do registro: {{ requisicao.id }}<br>
                Data do recebimento: {{ requisicao.dt_recebimento }}<br>
                Responsável pelo recebimento: {{ requisicao.responsavel_recebimento }}
            </p>
        </div>
    </div>
    <a href="{% url 'consulta_requisicao' %}" class="ui red left floated button">
        <i class="chevron left icon"></i>
            Voltar para consulta por requisições
        </a>
        <a href="{% url 'gera_requisicao_pdf' requisicao.id %}" class="ui green right floated button">
        <i class="file pdf icon"></i>
            Gerar documento pdf
        <i class="chevron right icon"></i>
        </a>
    </div>

{% endblock %}