{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastrar bairro</h2>

            <a class="ui button" href="{% url 'index_bairro' %}">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </a>
            <form class="ui form segment" method="POST" enctype="multipart/form-data" style="background-color: #c8c8c8">
                {% csrf_token %}
                <div class="field">
                    <label class="collor-label-green">Nome do bairro</label>
                    {{ form.nome_bairro }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Cidade
                    <a href="{% url 'new_cidade' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.id_cidade }}
                </div>
                <button class="positive ui fluid button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}