{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastrar cidade</h2>

            <a class="ui button" href="{% url 'index_cidade' %}">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </a>
            <form class="ui form segment" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label class="collor-label-green">Nome da cidade</label>
                    {{ form.nome_cidade }}
                </div>
                <div class="field">
                    <a href="{% url 'new_estado' %}" class="ui right floated button">
                        <i class="plus icon"></i>
                        Cadastrar estado
                    </a>
                    <label class="collor-label-green">Estado</label>
                    {{ form.id_estado }}
                </div>
                <button class="positive ui fluid button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}