{% extends "base.html" %}

{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
    <div class="ui green fluid segment">
        <h2>Tem certeza que deseja deletar {{ cidade.nome_cidade }} </h2>

        <form class="ui form segment"method="POST" enctype=multipart/form-data">
            {% csrf_token %}

        <button class="negative ui button" type="submit">Delete</button>
        </form>
    </div>

    </div>

{% endblock %}