{% extends 'base.html' %}
{% block content %}

<div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
    <div class="ui green fluid segment">

        <h2 class="ui center aligned header">Cidades Cadastradas</h2>

<div class="field">
      <a href="{% url 'new_cidade' %}" class="ui right floated button">
            Cadastrar nova cidade
            <i class="angle double right icon"></i>
        </a>
    <a class="ui left floated button" href="{% url 'principal' %}">
            <i class="angle double left icon"></i>
            Voltar para a página principal
        </a>
</div>

    <table class="ui large striped table">
                <thead><tr class="center aligned">
                    <th>Cidade</th>
                    <th>

                        <form>
             <select  class="ui selection dropdown" name="procura">
             <option value="">Filtrar por estado</option>
                 {% for estado in estados %}
                     <option value="{{ estado }}">
                         {{ estado }}
                     </option>
                 {% endfor %}
             </select>
          <button type="submit" class="circular ui icon button">
              <i class="search icon"></i></button>
             <div class="results"></div>
         </form>

                    </th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr></thead>
                <tbody>
                {% for cidade in cidades %}
                <tr>
                    <td class="center aligned">{{ cidade.nome_cidade }}</td>
                    <td class="center aligned">{{ cidade.id_estado.nome_estado }}</td>
                    <td class="center aligned">
                        <a href="{% url 'update_cidade' cidade.id %}">
                        <i class="green edit icon"></i>
                    </a>
                    </td>
                    <td class="center aligned">
                        <a href="{% url 'delete_cidade' cidade.id %}">
                            <i class="red trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>

            {% endfor %}
    </table>
    </div>
    </div>

{% endblock %}