{% extends 'base.html' %}
{% block content %}

<div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
    <div class="ui green fluid segment">

        <h2 class="ui center aligned header">Estados cadastrados</h2>

        <a href="{% url 'new_estado' %}" class="ui right floated button">
            Cadastrar novo estado
        </a>
        <br>
        <br>
    <table class="ui large striped table">
                <thead><tr class="center aligned">
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr></thead>
                <tbody>
                {% for estado in estados %}
                <tr>
                    <td class="center aligned">{{ estado.nome_estado }}</td>
                    <td class="center aligned">
                        <a href="{% url 'update_estado' estado.id %}">
                        <i class="green edit icon"></i>
                    </a>
                    </td>
                    <td class="center aligned">
                        <a href="{% url 'delete_estado' estado.id %}">
                            <i class="red trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>

            {% endfor %}
    </table>
    </div>
    </div>

{% endblock %}