{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastrar região estadual</h2>

            <a href="{% url 'index_regiao_est' %}" class="ui left floated button">
            Voltar
            </a>
            <br>
            <br>
            <form class="ui form segment" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label class="collor-label-green">Nome da região estadual</label>
                    {{ form.nome_regiao }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Estado</label>
                    {{ form.id_estado }}
                </div>
                <button class="positive ui fluid button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}