{% extends 'base.html' %}
{% block content %}

<div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="ui fluid segment">

        <h3>Lista de Regiões Estaduais</h3>

    <a href="{% url 'new_regiao_est' %}" class="btn btn-primary">Cadastrar Região Estadual</a>
      <br>
    <div class="ui middle aligned divided list">
        {% for regiao in regioes %}

            <div class="item">
                <div class="right floated content">
                <a href="{% url 'delete_regiao_est' regiao.id %}">
                    <i class="trash alternate icon"></i>
                </a>
                </div>
                <div>
                    <a href="{% url 'update_regiao_est' regiao.id %}">{{ regiao.nome_regiao }}</a>
                </div>
            </div>
    {% endfor %}
    </div>
    </div>

{% endblock %}