{% extends 'base.html' %}
{% block content %}

<div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
    <div class="ui green fluid segment">

        <h2 class="ui center aligned header">Ruas cadastradas</h2>

        <a href="{% url 'new_rua' %}" class="ui right floated button">
            Cadastrar nova rua
        </a>
        <br>
        <br>
    <table class="ui large striped table">
                <thead><tr class="center aligned">
                    <th>Rua</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr></thead>
                <tbody>
                {% for rua in ruas %}
                <tr>
                    <td class="center aligned">{{ rua.nome_rua }}</td>
                    <td class="center aligned">
                        <a href="{% url 'update_rua' rua.id %}">
                        <i class="green edit icon"></i>
                    </a>
                    </td>
                    <td class="center aligned">
                        <a href="{% url 'delete_rua' rua.id %}">
                            <i class="red trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>

            {% endfor %}

    </table>
    </div>
    </div>

{% endblock %}