{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastrar rua</h2>

            <a class="ui button" href="{% url 'index_rua' %}">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </a>
            <form class="ui form segment" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label class="collor-label-green">Nome da rua</label>
                    {{ form.nome_rua }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Bairro
                    <a href="{% url 'new_bairro' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.id_bairro }}
                </div>
                <button class="positive ui floated button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}