{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
    <div class="ui green fluid segment">
        <div class="ui vertical header segment">
        <div class="ui centered middle aligned grid">
            <div class="three wide column">
                <img class="ui image centered tiny" src="{% static "image/ifc.png" %}" alt="Logo Instituto Federal Catarinense">
            </div>
            <div class="eight wide column">
                <p class="ui center aligned basic segment">
                    <span>
                        INSTITUTO FEDERAL CATARINENSE<br>
                        CAMPUS ARAQUARI<br>
                        LABORATÓRIO DE ANATOMIA E PATOLOGIA VETERINÁRIA
                    </span>
                </p>
            </div>
            <div class="three wide column">
               <div class="card">
                   <div class="content">
                       <div class="ui attached segment">
                           <div class="center aligned header">
                               RG HV n°:
                           </div>
                           <div class="center aligned content">
                               {{ laudo.id_requisicao.cod_animail.especie.nome_especie }}
                               {{ laudo.id_requisicao.cod_animail }}
                               {{ laudo.id }}
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
        <div class="ui center aligned header">
            <a href="{% url 'visualizar_imagens_por_laudo' laudo.id %}" class="ui green fluid button">
                Visualizar imagens
                <i class="chevron right icon"></i>
            </a>
        </div>
        <div class="ui centered grid">

        </div>
        <h3 class="ui center aligned top attached header">
            LAUDO DE {{ laudo.id_requisicao.tipo_de_laudo.tipo_laudo.upper }}
            {{ laudo.id_requisicao.tipo_de_laudo.nome_tipo_laudo.upper }} <br>Nº{{ laudo.id }}

        </h3>
        <div class="ui attached segment">
            <p>
            <div class="ui relaxed grid">
            <div class="eight wide column">
                <b>Nome do animal: </b>{{ laudo.id_requisicao.id_animal.nome_animal }}
            </div>
            <div class="four wide column">
                <b>Espécie: </b>{{ laudo.id_requisicao.id_animal.raca.id_especie.nome_especie }}
            </div>
            <div class="four wide column">
                <b>Raça: </b>{{ laudo.id_requisicao.id_animal.raca }}
            </div>
            <div class="eight wide column">
                <b>Idade: </b>{{ laudo.id_requisicao.id_animal.idade_do_animal }}
            </div>
            <div class="four wide column">
                <b>Pelagem: </b>{{ laudo.id_requisicao.id_animal.cor_pelagem }}
            </div>
            <div class="four wide column">
                <b>Sexo: </b>{{ laudo.id_requisicao.id_animal.sexo }}
            </div>
            <div class="eight wide column">
                <b>Proprietário: </b>{{ laudo.id_requisicao.id_animal.proprietario.nome_proprietario }}
            </div>
            <div class="four wide column">
                <b>Telefone fixo: </b>{{ laudo.id_requisicao.id_animal.proprietario.telefone }}
            </div>
            <div class="four wide column">
                <b>Celular: </b>{{ laudo.id_requisicao.id_animal.proprietario.celular }}
            </div>
            <div class="eight wide column">
                <b>Endereço: </b>{{ laudo.id_requisicao.id_animal.rua }}
            </div>
            <div class="four wide column">
                <b>Número: </b>{{ laudo.id_requisicao.id_animal.numero }}
            </div>
             <div class="four wide column">
                <b>Bairro: </b>{{ laudo.id_requisicao.id_animal.bairro.nome_bairro }}
            </div>
            <div class="eight wide column">
                <b>Cidade: </b>{{ laudo.id_requisicao.id_animal.cidade.nome_cidade }}
            </div>
            <div class="four wide column">
                <b>Estado: </b>
                {{ laudo.id_requisicao.id_animal.id_estado.nome_estado }}
            </div>
            <div class="eight wide column">
                <b>Veterinário Responsável: </b>{{ laudo.id_requisicao.id_animal.veterinario_responsavel.nome_veterinario }}
            </div>
            <div class="four wide column">
                <b>Telefone: </b>{{ laudo.id_requisicao.id_animal.veterinario_responsavel.telefone }}
            </div>
            <div class="four wide column">
                <b>CRMV: </b>{{ laudo.id_requisicao.id_animal.veterinario_responsavel.crmv }}
            </div>
        </div>
        </div>
            </p>
        <h4 class="ui center aligned attached header"><u>MATERIAL ENVIADO PARA EXAME</u></h4>
        <div class="ui attached segment">
            <p align="justify">
                <! - Modify here - >
            <div>{{ laudo.id_requisicao.material_enviado|safe }}</div>
                <br>
                <b>Data da coleta: </b>{{ laudo.id_requisicao.dt_coleta }}
            </p>
        </div>
        <h4 class="ui center aligned attached header"><u>HISTÓRICO CLÍNICO</u></h4>
        <div class="ui attached segment">
            <p align="justify">
                <! - Modify here - >
            <div>{{ laudo.id_requisicao.historico_clinico|safe }}</div>
            </p>
        </div>
        <h4 class="ui center aligned attached header"><u>DESCRIÇÃO MACROSCÓPICA</u></h4>
        <div class="ui attached segment">
            <p align="justify">
                <div>{{ laudo.id_requisicao.descricao_macroscopica|safe }}</div>
            </p>
        </div>
        <h4 class="ui center aligned attached header"><u>DESCRIÇÃO MICROSCÓPICA</u></h4>
        <div class="ui attached segment">
            <p align="justify">
            <div>{{ laudo.descricao_microscopica|safe }}</div>
            </p>
        </div>
    <h4 class="ui center aligned attached header"><u>SISTEMAS</u></h4>
        <div class="ui attached segment">
            <p>
            {{ laudo.sistemas }}
            </p>
        </div>
        <h4 class="ui center aligned attached header"><u>DIAGNÓSTICO MORFOLÓGICO</u></h4>
        <div class="ui attached segment">
            <p align="justify">
            <div>{{ laudo.diagnostico_morfologico|safe }}</div>
            </p>
        </div>
        {% if laudo.id_requisicao.tipo_de_laudo.tipo_laudo == "Necropsia" %}
            <h4 class="ui center aligned attached header"><u>DIAGNÓSTICO</u></h4>
            <div class="ui attached segment">
                <p align="justify">
                <div>{{ laudo.diagnostico_final|safe }}</div>
                </p>
            </div>
        {% endif %}
        <h4 class="ui center aligned attached header"><u>COMENTÁRIOS</u></h4>
        <div class="ui attached segment">
            <p align="justify">
            <div>{{ laudo.comentarios|safe }}</div>
            </p>
        </div>
        <p>
        <br>
        <div class="ui centered grid">
        Araquari, {{ laudo.dt_laudo }}
        </div>
        <div class="ui right aligned grid">

            </p>

        </div>
    <div class="ui centered grid">
        <div class="centered floated center aligned six wide column">

        <div class="ui attached segment">
        <p>
        <b>
        {{ laudo.veterinario_patologista.nome_veterinario_patologista }}<br>
            {{ laudo.veterinario_patologista.formacao }}<br>
            {{ laudo.veterinario_patologista.crmv }}
            </b>
        </p>
        </div>
        </div>
    </div>
    </div>
    <a href="{% url 'consulta_laudo' %}" class="ui red left floated button">
        <i class="chevron left icon"></i>
            Voltar para consulta por requisições
        </a>
        <a href="{% url 'gera_pdf' laudo.id %}" class="ui green right floated button">
        <i class="file pdf icon"></i>
            Gerar documento pdf
        <i class="chevron right icon"></i>
        </a>
    </div>

{% endblock %}