{% extends 'base.html' %}
{% block content %}
<div class="two wide column"></div>
<div class="twelve wide column">
    <div class="two wide column"></div>

    <a class="ui button" href="{% url 'principal' %}">
        <i class="angle double left icon"></i>
        Voltar para a página anterior
    </a>
    <h2 class="ui center aligned header">Filtro</h2>
    <div class="ui form">

        <div class="ui stackable celled grid container" style="border: dashed 1px grey;">


            <form class="ui three column grid">

                <div class="left floated five wide column">
                    <div class="column">
                        <div class="ui segment">

                            <h4>
                                Selecione um ou mais sistemas
                            </h4>
                            <div class="ui list">
                                {% for sistema in lista_sistemas %}
                                <div class="item">
                                    <div class="left floated content">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="por_sistema" value="{{ sistema }}">
                                            <label>{{ sistema }}</label>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ui segment">
                            <h4>
                                Tipo de laudo
                            </h4>
                            <select name="por_tipo_laudo">
                                <option></option>
                                {% for tipo in tipo_laudo %}
                                <option value="{{ tipo.tipo_laudo }}">
                                    {{ tipo.tipo_laudo }}
                                </option>
                                {% endfor %}
                            </select>
                            <h4>
                                Etiologia
                            </h4>

                            <input class="prompt" name="etiologia" type="text" placeholder="Etiologia...">

                        </div>
                    </div>
                </div>


                <div class="column">
                    <div class="ui segment">


                        <h4>
                            Selecione uma espécie
                        </h4>
                        <select name="por_especie">
                            <option></option>
                            {% for especie in especies %}
                            <option value="{{ especie.nome_especie }}">
                                {{ especie.nome_especie }}
                            </option>
                            {% endfor %}
                        </select>

                        <h4>
                            Selecione uma raça
                        </h4>
                        <select name="por_raca">
                            <option></option>
                            {% for raca in lista_raca %}
                            <option value="{{ raca.nome_raca }}">
                                {{ raca.nome_raca }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="ui segment">
                        <h4>
                            Selecione um período inicial
                        </h4>
                        <input type="date" name="data_min">
                        <h4>
                            Selecione um período final
                        </h4>
                        <input type="date" name="data_max" placeholder="{{ hoje }}">
                    </div>
                    <div class="ui segment">
                        <h4>
                            Busca por diagnóstico morfológico
                        </h4>
                        <input class="prompt" name="morfologico" type="text"
                            placeholder="Digite um termo para a busca...">
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">

                        <h4>
                            Selecione um estado
                        </h4>
                        <select name="por_estado">
                            <option></option>
                            {% for estado in estados %}
                            <option value="{{ estado }}">
                                {{ estado }}
                            </option>
                            {% endfor %}
                        </select>
                        <h4>
                            Selecione uma cidade
                        </h4>
                        <select name="por_cidade">
                            <option></option>
                            {% for cidade in lista_cidade %}
                            <option value="{{ cidade.nome_cidade }}">
                                {{ cidade.nome_cidade }}
                            </option>
                            {% endfor %}
                        </select>
                        <h4>
                            Selecione um bairro
                        </h4>
                        <select name="por_bairro">
                            <option></option>
                            {% for bairro in por_bairro %}
                            <option value="{{ bairro.nome_bairro }}">
                                {{ bairro.nome_bairro }}
                            </option>
                            {% endfor %}
                        </select>
                        <h4>
                            Selecione uma rua
                        </h4>
                        <select name="por_rua">
                            <option></option>
                            {% for rua in por_rua %}
                            <option value="{{ rua.nome_rua }}">
                                {{ rua.nome_rua }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="ui green fluid icon button">
                    <i class="search icon"></i>
                    Buscar
                </button>
                <div class="results"></div>
            </form>
        </div>
    </div>
    <h2 class="ui center aligned header">Relatório</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Palavras Filtradas
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Bairros
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Cidades
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Estados
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Laudos Filtrados
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Total Cadastrado
                        </font>
                    </font>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            {% for f in rel %}
                            {{ f }}<br>
                            {% endfor %}
                        </font>
                    </font>
                </td>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            {{ bairros_ocorrencia }}
                        </font>
                    </font>
                </td>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            {% for cidade in cidades_nome %}
                            {{ cidade.id_requisicao.cod_animail.cidade.nome_cidade }}
                            <br>
                            {% endfor %}
                        </font>
                    </font>
                </td>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            {% for estado in estados_lista %}
                            {{ estado }}<br>
                            {% endfor %}
                        </font>
                    </font>
                </td>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            {{ relatorio }}
                        </font>
                    </font>
                </td>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            {{ total_laudos }}
                        </font>
                    </font>
                </td>
            </tr>

        </tbody>
    </table>
    <div>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                <a class="ui green fluid button" href="{% url 'mapa' %}">
                    Visualizar no mapa
                </a>
            </font>
        </font>
    </div>

        <h2 class="ui center aligned header">Laudos Relacionados</h2>
    <div class="ui stackable celled grid container" style="border: dashed 1px grey;">
        <div class="ui divided list">
            {% for consulta in laudos %}
            <div class="item">
                <div class="content">
                    <a href="{% url 'visualizar_laudo' consulta.id %}">
                        <h4 style="vertical-align: inherit;">
                            <i class="clipboard outline icon"></i>
                            <font style="vertical-align: inherit;">
                                {{ consulta.id_requisicao.id_animal.nome_animal }},
                                {{ consulta.id_requisicao.tipo_de_laudo.nome_tipo_laudo }},
                                RGHV: {{ consulta.id_requisicao.rghv }},
                                Etiologia: {{ consulta.etiologia }},
                                Sistemas: {{ consulta.sistemas }},
                                {{ consulta.id_requisicao.cod_animail.raca.id_especie.nome_especie }},
                                {{ consulta.id_requisicao.cod_animail.raca.nome_raca }}
                            </font>
                        </h4>
                    </a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}