<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'semantic/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Patologia Veterinaria</title>
</head>
<body>
<header class="ui menu color-menu">
    <a class="active item menu-a-color" href="{% url 'index' %}">
        <span>
            <i class="ui home icon"></i>Principal
        </span>
    </a>
    <a class="active item menu-a-color" href="{% url 'logout' %}">
        <span>
            <i class="sign out alternate ui icon"></i>Logout
        </span>
    </a>
</header>
<article class="ui stackable grid">

    {% block content %}

    {% endblock %}

    </article>
<footer class="ui centered middle aligned stackable grid">
    <div class="one wide column">
        <a href='http://ifc.edu.br'>
            <img class="ui image centered tiny" src="{% static "" %}" alt="Logo Instituto Federal Catarinense">
        </a>
    </div>
    <div class="eight wide column">
        <p class="ui center aligned basic segment">
            <span>Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Campus Araquari</span><br>
            <span>Rodovia BR 280 - km 27 - Cx. Postal 21 - CEP 89245-000 - Fone (47) 3803-7200 - Fax (47) 3803-7201</span>
        </p>
    </div>
    <div class="one wide column">
        <a href='http://fabricadesoftware.ifc.edu.br'>
            <img class="ui image centered tiny" src="{% static "" %}"
                 alt="Logo Fábrica de Software">
        </a>
    </div>
</footer>
</body>
</html>