{% extends "base.html" %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">

    <form class="ui form segment" method="POST" action="{% url 'cadastrar_animal' %}">
        <fieldset>
        <legend><h3>Identificação do animal</h3></legend>
        {% csrf_token %}
            <div class="field">
            <label class="color-label-brown">Nome</label>
            {{ form.nome }}
        </div>
        <div class="two fields">
        <div class="field">
            <label class="color-label-brown">Espécie</label>
            {{ form.especie }}
        </div>
        <div class="field">
            <label class="color-label-brown">Raça</label>
            {{ form.raca }}
        </div>
        </div>
        <div class="two fields">
        <div class="field">
            <label class="color-label-brown">Idade</label>
            {{ form.idade }}
        </div>
        <div class="field">
            <label class="color-label-brown">Pelagem</label>
            {{ form.pelagem }}
        </div>
        <div class="field">
            <label class="color-label-brown">Sexo</label>
            {{ form.sexo }}
        </div>
        </div>
        <div class="two fields">
        <div class="field">
            <label class="color-label-brown">Proprietário</label>
            {{ form.proprietario }}
        </div>
        <div class="field">
            <label class="color-label-brown">Telefone</label>
            {{ form.telefone }}
        </div>
        </div>
        <div class="two fields">
        <div class="field">
            <label class="color-label-brown">Veterinário Responsável</label>
            {{ form.veterinario_responsavel }}
        </div>
        <div class="field">
            <label class="color-label-brown">Telefone</label>
            {{ form.telefone_vet }}
        </div>
        </div>
        <div class="two fields">
        <div class="field">
            <label class="color-label-brown">Endereço</label>
            {{ form.endereco }}
        </div>
        <div class="field">
            <label class="color-label-brown">Bairro</label>
            {{ form.bairro }}
        </div>
        </div>
        <div class="two fields">
        <div class="field">
            <label class="color-label-brown">Selecione o estado</label>
            {{ form.estado }}
        </div>
        <div class="field">
            <label class="color-label-brown">Selecione a cidade</label>
            {{ form.cidade }}
        </div>
        <div class="field">
            <label class="color-label-brown">CEP</label>
            {{ form.cep }}
        </div>
        </div>


        </fieldset>
        <div class="ui grid">
            <div class="sixteen wide column">
                <button type="submit" class="ui green button color-button right floated">Salvar</button>
            </div>
        </div>

    </form>

    <div class="field">

            {% if mostra_laudos %}
            {% for laudo in mostra_laudos %}

            <div class="item">
                <i class="box icon"></i>
                <div class="content">

                {{ laudo.tipo }}
                {{ laudo.comentarios }}

            {% endfor %}
        {% endif %}
        <div>

    </div>


{% endblock %}