{% extends "base.html" %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">

    <form class="ui form segment" method="post" action="{% url 'cadastrar_laudo' %}">
        <fieldset>
        <legend><h3>Laudo</h3></legend>
        {% csrf_token %}
        <div class="field">
            <label class="color-label-brown">Histórico Clínico</label>
            {{ form.historico_clinico }}
        </div>
        <div class="field">
            <label class="color-label-brown">Descrição Macroscópica</label>
            {{ form.descricao_macroscopica }}
        </div>
        <div class="field">
            <label class="color-label-brown">Descrição Microscópica</label>
            {{ form.descricao_microscopica }}
        </div>
        <div class="field">
            <label class="color-label-brown">Diagnóstico Morfológico</label>
            {{ form.diagnostico_morfologico }}
        </div>
        <div class="field">
            <label class="color-label-brown">Comentários</label>
            {{ form.comentarios }}
        </div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <button type="submit" class="ui green button color-button right floated">Salvar</button>
            </div>
        </div>

        </fieldset>

    </form>

    </div>


{% endblock %}