{% extends 'base.html' %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
    <div class="ui green fluid segment">
        <h2 class="ui center aligned header">Animais Cadastrados</h2>
        <form class="ui category search">
            <div class="ui icon input">
                <input class="prompt" name="nome" id="nome" type="text" placeholder="Procurar animal...">
                <button type="submit" class="circular ui icon button">
                    <i class="search icon"></i></button>
            </div>
            <div class="results"></div>
        </form>

        <a href="{% url 'new_animal' %}" class="ui right floated button">
            Cadastrar novo animal
        </a>
        <br>
        <br>
        <table class="ui large striped table">
                <thead><tr class="center aligned">
                    <th>Nome do animal</th>
                    <th>Data Nasc.</th>
                    <th>Sexo</th>
                    <th>Espécie</th>
                    <th>Proprietário</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr></thead>
                <tbody>
                {% for animal in animais %}
                <tr>
                    <td class="center aligned">{{ animal.nome }}</td>
                    <td class="center aligned">{{ animal.data_nasc }}</td>
                    <td class="center aligned">{{ animal.sexo }}</td>
                    <td class="center aligned">{{ animal.especie }}</td>
                    <td class="center aligned">{{ animal.proprietario }}</td>
                    <td class="center aligned">
                        <a href="{% url 'update_animal' animal.id %}">
                        <i class="green edit icon"></i>
                    </a>
                    </td>
                    <td class="center aligned">
                        <a href="{% url 'delete_animal' animal.id %}">
                            <i class="red trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
        </table>
    </div>
    </div>

{% endblock %}