{% extends "base.html" %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastro do animal</h2>

            <a class="ui button" href="{% url 'index_animal' %}">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </a>

            <form class="ui form segment" method="POST" enctype="multipart/form-data" style="background-color: #c8c8c8">
                {% csrf_token %}
                <h4 class="ui horizontal divider"><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Indentificação do animal
                        </font></font></h4>
                <div class="field">
                    <label class="color-label-brown">Nome do animal</label>
                    {{ form.nome }}
                </div>
                <div class="field">
                     <div class="four fields">
                         <div class="two wide field">
                    <label class="color-label-brown">Idade</label>
                    {{form.idade}}
                </div>
                         <div class="ten wide field">
                    <label class="color-label-brown">Cor da pelagem</label>
                    {{ form.cor_pelagem }}
                </div>
                <div class="four wide field">
                    <label class="color-label-brown">Sexo</label>
                    {{ form.sexo }}
                </div>
                </div>
                <div id="animalForm" data-racas-url="{% url 'ajax_load_racas' %}" novalidate>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                    <label class="color-label-brown">Especie
                    <a href="{% url 'new_especie' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.id_especie }}
                </div>
                <div class="field">
                    <label class="color-label-brown">Raça
                    <a href="{% url 'new_raca' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.raca }}
                </div>
                </div>
                </div>
                </div>
                    <h4 class="ui horizontal divider"><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Endereço do local onde o animal vive
                        </font></font></h4>
                <div id="cidadeForm" data-cidade-url="{% url 'ajax_load_cidade' %}" novalidate>
                <div class="field">
                    <div class="two fields">
                        <div class="field">

                    <label class="color-label-brown">Estado
                        <a href="{% url 'new_estado' %}">
                        <i class="plus icon"></i>
                        </a>
                    </label>
                    {{ form.id_estado }}
                </div>
                        <div id="bairroForm" data-bairro-url="{% url 'ajax_load_bairro' %}" novalidate></div>
                <div class="field">
                    <label class="color-label-brown">Cidade
                    <a href="{% url 'new_cidade' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.cidade }}
                </div>
                </div>
                </div>
                    <div id="ruaForm" data-rua-url="{% url 'ajax_load_rua' %}" novalidate>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                    <label class="color-label-brown">Bairro
                    <a href="{% url 'new_bairro' %}">
                        <i class="plus icon"></i>

                    </a>
                    </label>
                    {{ form.bairro }}
                </div>

                <div class="field">
                    <label class="color-label-brown">Rua
                    <a href="{% url 'new_rua' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.rua }}
                </div>
                    </div>
                </div>
                <div class="field">
                    <div class="two wide fields">
                        <div class="two wide field">
                    <label class="color-label-brown">Número</label>
                    {{ form.numero }}
                </div>
                <div class="fourteen wide field">
                    <label class="color-label-brown">Complemento</label>
                    {{ form.complemento }}
                </div>
                    </div>
                </div>
                        <div class="ui divider"></div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                    <label class="color-label-brown">Proprietário do animal
                    <a href="{% url 'new_proprietario' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.proprietario }}
                </div>
                <div class="field">
                    <label class="color-label-brown">Veterinario responsável
                        <a href="{% url 'new_vet_resp' %}">
                            <i class="plus icon"></i>
                        </a>
                    </label>
                    {{ form.veterinario_responsavel }}
                </div>
                    </div>
                </div>

                <button class="positive fluid ui button" type="submit">Salvar</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $("#id_id_especie").change(function () {
      var url = $("#animalForm").attr("data-racas-url");  // get the url of the `load_cities` view
      var especieId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'id_especie': especieId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_raca").html(data);  // replace the contents of the city input with the data that came from the server
        }
      })
    });
    $("#id_id_estado").change(function () {
      var url = $("#cidadeForm").attr("data-cidade-url");  // get the url of the `load_cities` view
      var estadoId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'id_estado': estadoId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_cidade").html(data);  // replace the contents of the city input with the data that came from the server
        }
      })
    });
    $("#id_cidade").change(function () {
      var url = $("#bairroForm").attr("data-bairro-url");  // get the url of the `load_cities` view
      var cidadeId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'id_cidade': cidadeId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_bairro").html(data);  // replace the contents of the city input with the data that came from the server
        }
      })
    });
    $("#id_bairro").change(function () {
      var url = $("#ruaForm").attr("data-rua-url");  // get the url of the `load_cities` view
      var bairroId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'id_bairro': bairroId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_rua").html(data);  // replace the contents of the city input with the data that came from the server
        }
      })
    });
  </script>

{% endblock %}