{% extends "base.html" %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastrar animal</h2>

            <div class="ui button" onclick="history.go(-1);">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </div>

            <form class="ui form segment" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label class="color-label-brown">Nome do animal</label>
                    {{ form.nome }}
                </div>
                <div class="field">
                    <label class="color-label-brown">Idade</label>
                    {{form.idade}}
                </div>
                <div class="field">
                    <label class="color-label-brown">Cor da pelagem</label>
                    {{ form.cor_pelagem }}
                </div>
                <div class="field">
                    <label class="color-label-brown">Sexo</label>
                    {{ form.sexo }}
                </div>
                <div class="field">
                    <a href="{% url 'new_raca' %}" class="ui right floated button">
                        <i class="plus icon"></i>
                        Cadastrar raça
                    </a>
                    <label class="color-label-brown">Raça</label>
                    {{ form.raca }}
                </div>
                <div class="field">
                    <a href="{% url 'new_rua' %}" class="ui right floated button">
                        <i class="plus icon"></i>
                        Cadastrar rua
                    </a>
                    <label class="color-label-brown">Endereço</label>
                    {{ form.rua }}
                </div>
                <div class="field">
                    <a href="{% url 'new_proprietario' %}" class="ui right floated button">
                        <i class="plus icon"></i>
                        Cadastrar proprietário
                    </a>
                    <label class="color-label-brown">Proprietário do animal</label>
                    {{ form.proprietario }}
                </div>
                <div class="field">
                    <a href="{% url 'new_vet_resp' %}" class="ui right floated button">
                        <i class="plus icon"></i>
                        Cadastrar veterirário
                    </a>
                    <label class="color-label-brown">Veterinario responsável</label>
                    {{ form.veterinario_responsavel }}
                </div>

                <button class="positive fluid ui button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}