{% extends "base.html" %}
{% block content %}
    <div class="two wide column"></div>

    <div class="twelve wide column">

    <form class="ui form segment" method="POST" action="{% url 'cadastrar_animal' %}">
        <fieldset>
        <legend><h3>Identificação do animal</h3></legend>
        {% csrf_token %}
            <div class="field">
            <label class="color-label-brown">Nome</label>
            {{ form.nome }}
        </div>
        <div class="field">
            <label class="color-label-brown">Especie</label>
            {{ form.especie }}
        </div>
        <div class="field">
            <label class="color-label-brown">Raça</label>
            {{ form.raca }}
        </div>
        <div class="field">
            <div class="ui radio checkbox">
            <imput type="radio" name="sexo">Macho</imput>
                </div>
                <div class="ui radio checkbox">
                <imput type="radio" name="sexo">Fêmea</imput>
            </div>
        </div>

        <div class="field">
            <label class="color-label-brown">Proprietário do animal</label>
            {{ form.proprietario }}
        </div>
        <div class="field">
            <label class="color-label-brown">Veterinario responsável</label>
            {{ form.veterinario_responsavel }}
        </div>
        </fieldset>
        <div class="ui grid">
            <div class="sixteen wide column">
                <button type="submit" class="ui green button color-button right floated">Salvar</button>
            </div>
        </div>

    </form>

    </div>


{% endblock %}