{% block cadrastro_raca %}

<form class="ui form segment" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
        <a href="{% url 'new_especie' %}" class="ui right floated button">
            <i class="plus icon"></i>
            Cadastrar nova espécie
        </a>
        <label class="collor-label-green">Espécie</label>
        {{ form.id_especie }}
    </div>
    <div class="field">
        <label class="collor-label-green">Raça</label>
        {{ form.nome_raca }}
    </div>
    <button class="positive ui fluid button" type="submit">Salvar</button>
</form>
{% endblock %}