{% extends 'base.html' %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="ui fluid segment">
        <h3>Lista de espécies</h3>

        <a href="{% url 'new_especie' %}" class="btn btn-primary">Cadastrar nova espécie</a>
          <br>
        <div class="ui middle aligned divided list">
            {% for especie in especies %}

                <div class="item">
                    <div class="right floated content">
                        <a href="{% url 'delete_especie' especie.id %}">
                    <i class="trash alternate icon"></i>
                </a>
                </div>
                    <div>
                    <a href="{% url 'update_especie' especie.id %}">{{ especie.nome_especie }}</a>
                    </div>
            </div>
            {% endfor %}

    </div>
    </div>


{% endblock %}