{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastrar imagem</h2>

            <div class="ui button" onclick="history.go(-1);">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </div>
            <form class="ui form segment" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label class="collor-label-green">Descrição da imagem</label>
                    {{ form.nome_imagem }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Selecionar imagem</label>
                    {{ form.imagem }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Número do laudo</label>
                    {{ form.id_laudo }}
                </div>
                <button class="positive ui fluid button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}