{% extends 'base.html' %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
    <div class="ui green fluid segment">
        <h2 class="ui center aligned header">Lista de imagens</h2>

        <a href="{% url 'new_imagem' %}" class="ui right floated button">
            Cadastrar nova imagem
        </a>
        <br>
        <br>
        <table class="ui large striped table">
                <thead><tr class="center aligned">
                    <th>Imagem</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr></thead>
                <tbody>
                {% for imagem in imagens %}
                <tr>
                    <td class="center aligned">{{ imagem.nome_imagem }}</td>
                    <td class="center aligned">
                        <a href="{% url 'update_imagem' imagem.id %}">
                        <i class="green edit icon"></i>
                    </a>
                    </td>
                    <td class="center aligned">
                        <a href="{% url 'delete_imagem' imagem.id %}">
                            <i class="red trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
        </table>
    </div>
    </div>

{% endblock %}