{% extends 'base.html' %}
{% block content %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
    <div class="ui green fluid segment">
        <h2 class="ui center aligned header">Lista de laudos</h2>
    <div class="ui form">
                <div class="three fields">
                    <div class="field">
                        <form class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" name="requisicao" id="requisicao" type="text" placeholder="Número da requisição...">
                                <button type="submit" class="circular ui icon button">
                                    <i class="search icon"></i></button>
                            </div>
                            <div class="results"></div>
                        </form>
                    </div>
                    <div class="field">
                        <form class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" name="tipo" id="tipo" type="text" placeholder="Tipo do laudo...">
                                <button type="submit" class="circular ui icon button">
                                    <i class="search icon"></i></button>
                            </div>
                            <div class="results"></div>
                        </form>
                    </div>
                    <div class="field">
                        <form class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" name="animal" id="animal" type="text" placeholder="Código do animal...">
                                <button type="submit" class="circular ui icon button">
                                    <i class="search icon"></i></button>
                            </div>
                            <div class="results"></div>
                        </form>
                    </div>
                </div>
            </div>

        <a class="ui button" href="{% url 'principal' %}">
            <i class="angle double left icon"></i>
            Voltar para a página principal
        </a>

        <a href="{% url 'new_laudo' %}" class="ui right floated button">
            Cadastrar novo laudo
            <i class="angle double right icon"></i>
        </a>

        <table class="ui large striped table">
                <thead><tr class="center aligned">
                    <th>Número do laudo</th>
                    <th>Número da requisição</th>
                    <th>Data do laudo</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr></thead>
                <tbody>
                {% for laudo in laudos %}
                <tr>
                    <td class="center aligned">{{ laudo.id }}</td>
                    <td class="center aligned">{{ laudo.id_requisicao }}</td>
                    <td class="center aligned">{{ laudo.dt_laudo }}</td>
                    <td class="center aligned">
                        <a href="{% url 'update_laudo' laudo.id %}">
                        <i class="green edit icon"></i>
                    </a>
                    </td>
                    <td class="center aligned">
                        <a href="{% url 'delete_laudo' laudo.id %}">
                            <i class="red trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
        </table>
    </div>
    </div>

{% endblock %}