{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Nova requisição</h2>

            <a href="{% url 'index_requisicao' %}" class="ui left floated button">
            Voltar
            </a>
            <br>
            <br>
            <form class="ui form segment" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label class="collor-label-green">Número RGHV</label>
                    {{ form.rghv }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Código do animal</label>
                    {{ form.cod_animail }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Tipo de requisição</label>
                    {{ form.tipo_de_laudo }}
                </div>
                <div class="field">
                    <label class="color-label-brown">Data da coleta</label>
                    <input type="date" placeholder="dd/mm/yyyy" value={{form.dt_coleta}}
                </div>
                <div class="field">
                    <label class="collor-label-green">Material enviado para exame</label>
                    {{ form.material_enviado }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Histórico clínico</label>
                    {{ form.historico_clinico }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Descrição macroscópica</label>
                    {{ form.descricao_macroscopica }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Figura da ficha clínica</label>
                    {{ form.scan_figura_ficha_clinica }}
                </div>
                <div class="field">
                    <label class="color-label-brown">Data do recebimento</label>
                    <input type="date" placeholder="dd/mm/yyyy" value={{form.dt_recebimento}}
                </div>
                <button class="positive ui fluid button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}