{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastro de nova requisição</h2>

            <a class="ui button" href="{% url 'index_requisicao' %}">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </a>
            <form class="ui form segment" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4 class="ui horizontal divider"><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Indentificação da requisição
                        </font></font></h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                    <label class="collor-label-green">Número RGHV</label>
                    {{ form.rghv }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Código do animal
                    <a href="{% url 'new_animal' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.cod_animail }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Tipo de requisição
                        <a href="{% url 'new_tipo_laudo' %}">
                        <i class="plus icon"></i>
                    </a>
                    </label>
                    {{ form.tipo_de_laudo }}
                </div>
                    </div>
                </div>
                <h4 class="ui horizontal divider"><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Material enviado para exame
                        </font></font></h4>
                <div class="field">
                    <label class="collor-label-green">Descrição do material enviado para exame</label>
                    {{ form.material_enviado }}
                </div>
                <div class="six wide field">
                    <label class="color-label-brown">Data da coleta</label>
                    <input type="date" placeholder="dd/mm/yyyy" value={{form.dt_coleta}}
                </div>
                   <div class="ui divider"></div>
                <div class="field">
                    <label class="collor-label-green">Histórico clínico</label>
                    {{ form.historico_clinico }}
                </div>
                <div class="field">
                    <label class="collor-label-green">Descrição macroscópica</label>
                    {{ form.descricao_macroscopica }}
                </div>
                    <div class="ui divider"></div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                    <label class="collor-label-green">Scan da ficha clínica (Se houver)</label>
                    {{ form.scan_figura_ficha_clinica }}
                </div>
                <div class="field">
                    <label class="color-label-brown">Data do recebimento</label>
                    <input type="date" placeholder="dd/mm/yyyy" value={{form.dt_recebimento}}
                </div>
                </div>
                        </div>
                    <label class="color-label-brown">Responsável pelo recebimento:</label>
                    <div class="field">
                        {{ form.responsavel_recebimento }}
                    </div>
                    </div>

                <button class="positive ui fluid button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}