{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>

        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Mudar senha</h2>
            <div class="ui button" onclick="history.go(-1);">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </div>
            <form class="ui form segment" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label class="collor-label-green">Nova senha</label>
                {{ form.nova_senha.errors }}
                {{ form.nova_senha }}

            </div>
            <div class="field">
                <label class="collor-label-green">Confirmar senha</label>
                {{ form.nova_senha.errors }}
                {{ form.nova_senha }}

            </div>
            <div class="field">
                <label class="collor-label-green">Selecione permissões para o grupo</label>
                {% for permissao in form_permissions %}
                    <input class="checkbox" type="checkbox" onclick={{ permissao }}>
                    {{ permissao }}
                {% endfor %}
            </div>
                <button class="positive ui fluid button" type="submit">Salvar</button>
            </form>
        </div>

    </div>

{% endblock %}