{% extends "base.html" %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
        <div class="ui green fluid segment">
            <h2 class="ui center aligned header">Cadastro do proprietário</h2>

            <div class="ui button" onclick="history.go(-1);">
                <i class="angle double left icon"></i>
                Voltar para a página anterior
            </div>
            <form class="ui form segment" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <div class="two fields">
                        <div class="twelve wide field">
                    <label class="color-label-brown">Nome</label>
                    {{ form.nome_proprietario }}
                        </div>
                <div class="four wide field">
                    <label class="color-label-brown">Data do nascimento</label>
                    <input type="date" placeholder="dd/mm/yyyy" value={{form.data_nasc}}
                </div>
                    </div>
                <div class="field">
                    <div class="two fields">
                        <div class="four wide field">
                    <label class="color-label-brown">CPF</label>
                    {{ form.cpf }}
                </div>
                        <div class="four wide field">
                    <label class="color-label-brown">RG</label>
                    {{ form.rg }}
                </div>
                <div class="four wide field">
                    <label class="color-label-brown">Telefone</label>
                    {{ form.telefone }}
                </div>
                <div class="four wide field">
                    <label class="color-label-brown">Celular</label>
                    {{ form.celular }}
                </div>
                    </div>
                </div>
                <div class="field">
                    <label class="color-label-brown">Email</label>
                    {{ form.email }}
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="four wide field">
                    <label class="color-label-brown">Rua
                    <a href="{% url 'new_rua' %}">
                            <i class="plus icon"></i>
                        </a>
                    </label>
                    {{ form.rua }}
                </div>

                <div class="two wide field">
                    <label class="color-label-brown">Número</label>
                    {{ form.numero }}
                </div>
                <div class="ten wide field">
                    <label class="color-label-brown">Complemento</label>
                    {{ form.complemento }}
                </div>
                    </div>
                </div>
                <button class="positive ui fluid button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

{% endblock %}