{% extends 'base.html' %}
{% block content %}

    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="two wide column"></div>
        <div class="ui green fluid segment">

       <h2 class="ui center aligned header">Proprietarios cadastrados</h2>
        <div class="ui button" onclick="history.go(-1);">
            <i class="angle double left icon"></i>
            Voltar para a página anterior
        </div>

        <a href="{% url 'new_proprietario' %}" class="ui right floated button">
            Cadastrar novo proprietário
            <i class="angle double right icon"></i>
        </a>
        <table class="ui large striped table">
            <thead><tr class="center aligned">
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr></thead>
            <tbody>
            {% for proprietario in proprietarios %}
                <tr>
                    <td class="center aligned">{{ proprietario.nome_proprietario }}</td>
                    <td class="center aligned">{{ proprietario.cpf }}</td>
                    <td class="center aligned">{{ proprietario.telefone }}</td>
                    <td class="center aligned">
                        <a href="{% url 'update_proprietario' proprietario.id %}">
                        <i class="green edit icon"></i>
                    </a>
                    </td>
                    <td class="center aligned">
                        <a href="{% url 'delete_proprietario' proprietario.id %}">
                            <i class="red trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
        </table>
    </div>
    </div>

{% endblock %}